{% extends "layout.html" %}

{% block body %}
<header>
  <div id="slider">
    <h1 id="slidehead1">Kerala</h1>
    <br>
    <h2 id="slidehead2">God's Own Country</h2>
    <figure>
      <img src="https://cdn1.tripoto.com/media/filter/tst/img/1524784/Image/1571999040_kerala.jpg">
      <img src="static/images/varkala.png" id="img2">
      <img src="static/images/wayanad-tourist.jpg" id="img3">
      <img src="static/images/Thekady.jpg" id="img4">
      <img src="static/images/vagamon.jpg" id="img5">
      <img src="static/images/alleppey.jpg" id="img6">
      <img src="static/images/waterfalls.jpg" id="img7">
      <img src="static/images/Idukki.jpg" id="img8">
      <img src="static/images/bekal-fort.jpg" id="img9">
      <img src="static/images/MUNNAR.jpg" id="img10">
    </figure>

    <div class="button-container">
      <a href="#img1" class="slider-button"></a>
      <a href="#img2" class="slider-button"></a>
      <a href="#img3" class="slider-button"></a>
      <a href="#img4" class="slider-button"></a>
      <a href="#img5" class="slider-button"></a>
      <a href="#img6" class="slider-button"></a>
      <a href="#img7" class="slider-button"></a>
      <a href="#img8" class="slider-button"></a>
      <a href="#img9" class="slider-button"></a>
    </div>
  </div>
 </header>

<div class="topnav">
  <a class="active" href="#about">About</a>
  <a href="#districts">Districts</a>
  <a href="#">Touristic Spots</a>
</div>

<div class="subhead">
  <h1 id="about"> About </h1>
</div>

<div class="disc">
      Kerala, a state in Southern India is known as a tropical paradise
      of waving palms and wide sandy beaches. It is a narrow strip of coastal
      territory that slopes down the Western Ghats in a cascade of lush green
      vegetation, and reaches to the Arabian sea. Kerala borders the states of
      Tamil Nadu to the east and Karnataka to the north. It is also known for its
      backwaters, mountains, coconuts, spices and art forms like Kathakali and
      Mohini Attam. It is the most literate state in India, and a land of diverse
      religions, where you can find Hindu temples, mosques, churches, and even
      synagogues. With world class tourist sporting options, ayurvedic spas and
      treatments, eco-tourism initiatives, a large number of visit options ranging
      from beautiful high altitude blue mountains to pristine rain forests to
      golden sun-sand beaches and an enormous range of accommodation, Kerala has much to
      offer the visitor.
</div>

<div class="subhead">
  <h1 id="districts">Districts</h1>
</div>

<div class="disc">
  For administrative purposes the State of Kerala is divided into 14 revenue districts.
  <ol class="districts">
    <img src="https://lh3.googleusercontent.com/proxy/YHQC7AotXXVyB_7CDYFrqPw0CdKQM7Q-hdsKyEelIM2F7Sv5_3fTggrLOLUyZLR_-xKgjRsMIq0qvLxmqN1zS-HIpQQN8LLEpamSLwjiVhfgcIK0lYst_cGolq0h0WAs9cnPVwW4p3GpanjyR3Qe" style="float:right">
    <li>Thiruvanathapuram</li>
    <li>Kollam</li>
    <li>Pathanamthitta</li>
    <li>Alappuzha</li>
    <li>Kottayam</li>
    <li>Idukki</li>
    <li>Ernakulam</li>
    <li>Thrissur</li>
    <li>Palakkad</li>
    <li>Malapuram</li>
    <li>Kozhikode</li>
    <li>Wayanad</li>
    <li>Kannur</li>
    <li>Kasaragod</li>
  </ol>
  <br>
  On the basis of geography the state's districts are generally grouped into
  three parts :-
  <br>
  <br>
  <span class="list-head">The North Kerala districts:</span>
  <ul>
    <li>Kasaragod</li>
    <li>Kannur</li>
    <li>Wayanad</li>
    <li>Kozhikode</li>
  </ul>
  <span class="list-head">The Central Kerala districts:</span>
   <ul>
    <li>Palakkad</li>
    <li>Thrissur</li>
    <li>Ernakulam</li>
    <li>Idukki</li>
    <li>Malappuram</li>
    <li>Kottayam</li>
  </ul>
  <span class="list-head">The South Kerala districts:</span>
  <ul>
     <li>Thiruvananthapuram</li>
     <li>Kollam</li>
     <li>Alappuzha</li>
     <li>Pathanamthitta</li>
  </ul>
</div>

<footer>
  Made by Chris Vinod 
</footer>

{% endblock %}
