{% extends "layout.html" %}

{% block body %}
<header>
  <div class="slide-container">
    <span id="slider1"></span>
    <span id="slider2"></span>
    <span id="slider3"></span>
    <span id="slider4"></span>
    <span id="slider5"></span>
    <span id="slider6"></span>
    <span id="slider7"></span>
    <span id="slider8"></span>
    <span id="slider9"></span>

    <div class="image-container">
      <img src="static/images/MUNNAR.jpg" class="slider-image">
      <img src="static/images/varkala.png" class="slider-image">
      <img src="static/images/wayanad-tourist.jpg" class="slider-image">
      <img src="static/images/Thekady.jpg" class="slider-image">
      <img src="static/images/vagamon.jpg" class="slider-image">
      <img src="static/images/allepey-backwater-tour.jpg" class="slider-image">
      <img src="static/images/waterfalls.jpg" class="slider=image">
      <img src="static/images/Idukki_dam.jpg" class="slider-image">
      <img src="static/images/bekal-fort.jpg" class="slider-image">
    </div>

    <div class="button-container">
      <a href="#slider1" class="slider-button"></a>
      <a href="#slider2" class="slider-button"></a>
      <a href="#slider3" class="slider-button"></a>
      <a href="#slider4" class="slider-button"></a>
      <a href="#slider5" class="slider-button"></a>
      <a href="#slider6" class="slider-button"></a>
      <a href="#slider7" class="slider-button"></a>
      <a href="#slider8" class="slider-button"></a>
      <a href="#slider9" class="slider-button"></a>
    </div>
  </div>
 </header>

<div class="topnav">
  <a class="active" href="#subhead">About</a>
  <a href="#">Districts</a>
  <a href="#">Touristic Spots</a>
</div>

<div id="subhead">
  <h1> About </h1>
</div>

<div class="disc">
      Kerala, a state in Southern India is known as a tropical paradise
      of waving palms and wide sandy beaches. It is a narrow strip of coastal
      territory that slopes down the Western Ghats in a cascade of lush green
      vegetation, and reaches to the Arabian sea. Kerala borders the states of
      Tamil Nadu to the east and Karnataka to the north. It is also known for its
      backwaters, mountains, coconuts, spices and art forms like Kathakali and
      Mohini Attam. It is the most literate state in India, and a land of diverse
      religions, where you can find Hindu temples, mosques, churches, and even
      synagogues. With world class tourist sporting options, ayurvedic spas and
      treatments, eco-tourism initiatives, a large number of visit options ranging
      from beautiful high altitude blue mountains to pristine rain forests to
      golden sun-sand beaches and an enormous range of accommodation, Kerala has much to
      offer the visitor.
</div>

<div class="Districts">

</div>

{% endblock %}
